body {
    background-color: aquamarine;
}

#message,
#message2 {
    color: darkred;
    font-weight: bold;
}

#tictactoe {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#tictactoe>input {
    cursor: pointer;
}